@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1582274422563'); /* IE9 */
  src: url('iconfont.eot?t=1582274422563#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJsAAsAAAAABiAAAAIhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAooRgE2AiQDCAsGAAQgBYRtBzQbcAXILrBt2JMi7RwdWAiEvk0wAI8Iov1+s/fki2NJNUL2LJpMEp1OI0GLNEonFC3h7/9c5gZkVJ4vyyErtKXLb/n3pTlyQ6dnLAu5KeCe4BkClJfM9TlkUefzXE5vAh3I/EDnes1JY02aNIB6cUCB7oFRZCWUccPYBS/wMYG6cYbO7vbhCczI2asC8ZQlIcwUonI5K1SFsuFgLt4Vquk1BbxF349/XsyQFBm75eBxqwur35yS7P7OA0KMgI4XyLAK5MRJY3bPuGDcuHp2wjQ4VmPwrd8PPOKoTsH+Oru+CUZhLvjmrRQgwWNRhhuTthDl83KXVs7O0+fs/PPXF6yin6WXRCBYH7578ztebeTg649+5MgN81PdzBd8vjpwIDe0tjvlmto4npSHbaurow8HB7xOtQ1fqxiqhif4K8YyZKpmyZxdRaFhDaWqDdSt2DneMIiNi7yGZTcAoesWSdsnMl3PZM6+oDDiH6VujKPuLLiwYT6yuZhCoS5GI8xiXSvXK3Nx4xElvTLkvDbiz4jbLIGu5ZQLO1QTL7Gl7SeeiELFusJt8ByVpcaGdU6xWKlIM2/bqulNVqwrmLODkZAgXSgygjIxraaCyWKu8vkjJNFTCnFHX115hrBWNjtyWZwB5I6pHtT3KK+0+hIeIRSkMK2CtsE8UippqGmelyMxYUknpBvzbGeUGmqytrdUf3cK6mx7CmdXpn7DrAdmmSkBAAA=') format('woff2'),
  url('iconfont.woff?t=1582274422563') format('woff'),
  url('iconfont.ttf?t=1582274422563') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1582274422563#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-lift:before {
  content: "\e743";
}

